@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #e9e9e9;
}

::-webkit-scrollbar-thumb {
  background: #bcc0be;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(148, 153, 150);
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #f0f0f0;
  padding: 50px;
  min-height: 100vh;
}
